#header_cp{
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    right: 0;
    left: 0;
    padding: 20px 30px;
    transition: all ease 0.5s;
}
#header_cp :first-child{
    width: 120px;
    height: 100%;

}
#header_cp :last-child{
    width: 40px;
    height: 100%;
}

.header_background{
    background-color: #141414;
}
